.containerr {
    header {
        grid-area: header;
    }

    .banner {
        border-color: grey;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        box-shadow: 3px 3px 3px grey;
        background-color: white;
        padding: 10px;
        grid-area: banner;
        display: grid;
        grid-template-columns: 1fr;

        .gallery-t {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;

            .card {
                width: 100%;
                height: fit-content;

                p {
                    margin: 3%;
                    font-size: medium;
                }

                a {
                    margin: 3%;
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                    top: 10px;
                    right: 10px;
                    background-color: #28a745;
                    /* Verde tipo Bootstrap */
                    color: white;
                    border: none;
                    padding: 8px 2px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .left-aside {
        grid-area: left-aside;

        h4 {
            font-size: large;
        }

        .scroll {
            box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.575);
            border-radius: 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(34, 64, 161, 0.459);
            background-color: aliceblue;
            overflow-y: scroll;
            margin: 10px;
            height: 75vh;

            .card {
                background-color: white;
                padding: 5px;
                margin: 5px;

                a {
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                    top: 10px;
                    right: 10px;
                    background-color: #28a745;
                    /* Verde tipo Bootstrap */
                    color: white;
                    border: none;
                    padding: 8px 2px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }

                a:hover {
                    background-color: #0c7425;
                }

                p {
                    font-size: medium;
                }
            }
        }

    }

    .left-aside::-webkit-scrollbar {
        width: 4px;
    }

    .left-aside::-webkit-scrollbar-thumb {
        background-color: #b1cee0e0;
        border-radius: 4px;
    }

    main {
        background-color: rgba(0, 0, 255, 0.342);
        grid-area: main;
    }

    .right-aside {
        grid-area: right-aside;

        h4 {
            font-size: large;
        }

        .scroll {
            box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.575);
            border-radius: 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(34, 64, 161, 0.459);
            background-color: aliceblue;
            overflow-y: scroll;
            margin: 10px;
            height: 70vh;

            .card {
                background-color: white;
                padding: 5px;
                margin: 5px;

                a {
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                    top: 10px;
                    right: 10px;
                    background-color: #28a745;
                    /* Verde tipo Bootstrap */
                    color: white;
                    border: none;
                    padding: 8px 2px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }

                a:hover {
                    background-color: #0c7425;
                }

                p {
                    font-size: medium;
                }
            }
        }
    }

    .low-content {
        grid-area: low-content;
        padding: 10px;

        .gallery-p {
            display: grid;
            gap: 10px;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;

            .card {
                width: 100%;
                height: fit-content;

                p {
                    font-size: medium;
                }
            }
        }
    }

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    grid-template-areas: "left-aside banner right-aside"
    "left-aside main right-aside"
    "left-aside low-content right-aside";
    grid-gap: 10px;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 20px;
}

footer {
    align-content: center;
    height: 50px;
    background-color: gray;

    p {
        color: white;
        text-align: center;
        text-shadow: 3px 3px 3px rgb(189, 187, 187);
    }
}


@media (max-width: 678px) {
    .containerr {
        height: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "banner"
            "left-aside"
            "main"
            "right-aside"
            "low-content";

        .left-aside {
            margin: 10px;
            height: auto;
        }

        .right-aside {
            margin: 10px;
            height: auto;
        }
    }
}