@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: aliceblue;
}

#boton-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Oculto por defecto */
  z-index: 1000;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#boton-top:hover {
  background-color: #007bff;
  color: #fff;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

header {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
header .navbar {
  background: aliceblue;
}
header .navbar .navbar-toggler {
  border-color: rgb(112, 112, 112);
  border-width: 2px;
}
header .navbar .navbar-toggler-icon {
  border-color: aqua;
}
header .navbar .navbar-brand {
  font-size: 20px;
  font-weight: 300;
}
header .navbar .navbar-brand:hover {
  color: rgb(255, 79, 79);
}
header .navbar .nav-link {
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.062);
}
header .navbar .nav-link:hover {
  color: rgb(4, 0, 255);
}

* {
  margin: 0 auto;
  padding: 0;
}

/*card*/
.card’s {
  display: flex;
  gap: 10px;
  margin: 8px 8px;
}

main .carousel-indicators [data-bs-target] {
  background-color: #007bff;
  /* Cambia este color al que desees. Ejemplo: azul de Bootstrap */
}
main .carousel-indicators .active {
  background-color: #28a745;
  /* Color para el indicador activo. Ejemplo: verde de Bootstrap */
}
main .presentacion {
  margin: 10px;
  background-color: darkblue;
  border-radius: 10px;
  padding: 10px 16px;
}
main .presentacion h1 {
  font-size: larger;
  font-weight: bold;
  color: yellow;
}
main .presentacion p {
  color: aliceblue;
  font-weight: bold;
}
main .presentacion .CTA {
  margin-left: 10px;
  display: inline;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: black;
  border-width: 2px;
  border-color: yellow;
  border-style: double;
}
main .presentacion .CTA a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
main .gallery {
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(0, 140, 255);
  /*bg1*/
  display: flex;
  flex-wrap: wrap;
}
main .gallery .card {
  min-width: 31%;
  margin: 20px;
  background-color: rgb(29, 29, 29);
  /*cambiar por bg1*/
  padding: 10px;
  border-radius: 10px;
}
main .gallery .card p {
  width: 100%;
  font-size: 18px;
  color: aliceblue;
}
main .gallery .card img {
  max-width: 100%;
  height: auto;
}
main .gallery .card .aw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .gallery .card .aw img {
  max-width: 45%;
  height: auto;
}
main .gallery .card .fn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .gallery .card .fn img {
  max-width: 45%;
  height: fit-content;
}

main {
  overflow: hidden;
}
main .habilidades .Title-G {
  margin: 10px;
}
main .habilidades .Title-G h2 {
  text-decoration: underline;
  font-weight: bold;
}
main .habilidades .row h3 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
main .habilidades .row .l1 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .l2 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .l3 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .l4 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .l4 img {
  width: 100%;
  height: auto;
}
main .habilidades .row .l5 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d1 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d2 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d3 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d4 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d5 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .habilidades .row .d6 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
main .display {
  height: auto;
  padding: 20px;
  background: url(https://img.goodfon.com/original/2560x1440/0/d3/wallpapers-firewatch-2560-1440-windows-mac-linux.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
main .display .cont {
  background-color: rgba(0, 25, 51, 0.6156862745);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
main .display .cont h2 {
  font-weight: bolder;
  color: rgb(110, 113, 255);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
  font-size: 40px;
}
main .display .cont p {
  font-size: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.322);
  font-weight: bold;
  color: white;
}
main .display .cont form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .display .cont form label {
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
}
main .display .cont form input {
  padding: 8px 16px;
  border-radius: 10px;
}
main .display .cont form button {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #28a745;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 850px) {
  main .gallery {
    flex-direction: column;
  }
  .card’s {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 8px 8px;
  }
}
main .display {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
