body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #2c003e, #0a4b69, #270b74, #2c003e);
  background-size: 400% 400%;
  animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header .navbar {
  background-color: transparent;
}
header .navbar .navbar-brand {
  color: #00ff4c;
  font-weight: bold;
}
header .navbar .navbar-brand:hover {
  color: #ffffff;
}
header .navbar li {
  font-weight: bold;
}
header .navbar .nav-link {
  color: #e4e1e1;
}
header .navbar .nav-link.active {
  color: #00ff4c;
}
header .navbar .nav-link:hover {
  color: #ffffff;
}
header .navbar .navbar-toggler-icon {
  filter: invert(100%);
}

.containerr {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 4fr 1fr;
  height: auto;
  grid-template-areas: "left-aside banner right-aside" "left-aside main right-aside" "left-aside low-content right-aside";
  grid-gap: 10px;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 20px;
}
.containerr header {
  grid-area: header;
}
.containerr .banner {
  max-height: 30vh;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 3px 3px 3px grey;
  background-color: white;
  padding: 10px;
  grid-area: banner;
  display: grid;
  grid-template-columns: 1fr;
}
.containerr .banner .gallery-t {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.containerr .banner .gallery-t .card {
  width: 100%;
  height: fit-content;
}
.containerr .banner .gallery-t .card p {
  margin: 3%;
  font-size: medium;
}
.containerr .banner .gallery-t .card a {
  margin: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  /* Verde tipo Bootstrap */
  color: white;
  border: none;
  padding: 8px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.containerr .left-aside {
  grid-area: left-aside;
}
.containerr .left-aside .card {
  background-color: white;
  padding: 5px;
  margin: 5px;
}
.containerr .left-aside .card summary {
  transition: all 1s ease;
  text-align: center;
  text-decoration: none;
  font-size: small;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  /* Verde tipo Bootstrap */
  color: white;
  border: none;
  padding: 8px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.containerr .left-aside .card summary:hover {
  background-color: #0f8f2d;
}
.containerr .left-aside .card p {
  font-size: small;
}
.containerr .left-aside h4 {
  font-size: large;
  color: white;
  font-weight: bold;
}
.containerr .left-aside::-webkit-scrollbar {
  width: 4px;
}
.containerr .left-aside::-webkit-scrollbar-thumb {
  background-color: rgba(177, 206, 224, 0.8784313725);
  border-radius: 4px;
}
.containerr main {
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
  background-color: white;
  grid-area: main;
  padding: 20px;
}
.containerr main button {
  margin-top: 25px;
  padding: 12px;
  background-color: #ff00cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.containerr main button:hover {
  background-color: #e600b5;
}
.containerr main h2 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.containerr main p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.containerr main form {
  display: flex;
  flex-direction: column;
}
.containerr main form label {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #ff99dd;
}
.containerr main form input,
.containerr main form textarea {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #1e1e2f;
  color: #fff;
  font-size: 15px;
  transition: box-shadow 0.3s ease;
}
.containerr main form input::placeholder,
.containerr main form textarea::placeholder {
  color: #aaa;
}
.containerr main form input:focus,
.containerr main form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #04924b;
}
.containerr main form textarea {
  resize: none;
}
.containerr .right-aside {
  grid-area: right-aside;
}
.containerr .right-aside .card {
  background-color: white;
  padding: 5px;
  margin: 5px;
}
.containerr .right-aside .card summary {
  transition: all 1s ease;
  text-align: center;
  text-decoration: none;
  font-size: small;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  /* Verde tipo Bootstrap */
  color: white;
  border: none;
  padding: 8px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.containerr .right-aside .card summary:hover {
  background-color: #0f8f2d;
}
.containerr .right-aside .card p {
  font-size: small;
}
.containerr .right-aside h4 {
  font-size: large;
  color: white;
  font-weight: bold;
}
.containerr .right-aside h4 {
  font-size: large;
}
.containerr .low-content {
  height: auto;
  grid-area: low-content;
  padding: 10px;
}
.containerr .low-content h3 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.containerr .low-content .gallery-p {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.containerr .low-content .gallery-p .card {
  width: auto;
  height: fit-content;
}
.containerr .low-content .gallery-p .card a {
  font-size: medium;
}
.containerr .low-content .gallery-p .card p {
  font-size: small;
}

footer {
  align-content: center;
  height: 50px;
  background-color: rgb(77, 76, 76);
}
footer p {
  color: white;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(206, 204, 204);
}

.habilidades h2 {
  color: white;
}
.habilidades h3 {
  color: white;
}
.habilidades .Title-G {
  margin: 10px;
}
.habilidades .Title-G h2 {
  text-decoration: underline;
  font-weight: bold;
}
.habilidades .row h3 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.habilidades .row .l1 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .l2 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .l3 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .l4 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .l4 img {
  width: 100%;
  height: auto;
}
.habilidades .row .l5 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d1 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d2 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d3 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d4 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d5 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}
.habilidades .row .d6 {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
}

@media (max-width: 678px) {
  .containerr {
    height: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "left-aside" "main" "right-aside" "low-content";
  }
  .containerr .left-aside {
    margin: 10px;
    height: auto;
  }
  .containerr .right-aside {
    margin: 10px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
